/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */


header {

    position:relative;
  

}

.top {
	display: flex;
	padding: 70px 0;
	margin: 20px;
}

.main-nav {

	display: flex;
	flex-direction: row;
	padding:10px;
}

.navigation a {

	color: lightgrey;
	margin: 0 40px;
	align-items: center;
	flex-wrap: wrap;
	text-decoration: none;
}


header, .logo {

	top:5px;
	right:10px;
	
}
/* 
.container{

	display: flex;

}  */

.demand1{

	display:flex;
	flex-direction: row;
	justify-content: space-around;

}

.demand1 h1{

		align-items: center;
		font-size: 70px;
		margin-left:150px;

}

.demand, .start {

		flex-direction: row;
		margin-right: 

}


.start {

		border: 2px solid darkgrey;
		width: 95px;
		height: 45px;
		flex-direction: row;
		text-align: center;
		

}


.contentSection {

	display:flex;
	margin: 10px 50px;
	height: 200px;
	justify-content:center;
}

.features {
	flex-direction: row;
	width: 450px;
	height: 150px;


}

.About {

	flex-direction: row;
	justify-content: space-between;

}

.contentsection2  {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

}

 .contentsection2, .Service{

		flex-direction: row;
		justify-items: center;
		width: 33%:
	

}

.Product {
	

		flex-direction: row;
		justify-items: center;


}

.Vision {

		
		flex-direction: row;
		justify-items: center;

}

.Contact {

	flex-direction: column;
	width: 450px;
	height: 150px;
	align-items: center;

}

.Copyright {

	text-align: center;

}

.middle {

	width: 100%;
	margin: 0;
	padding: 0;
}